<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>Better Banking</title>
    <link rel='stylesheet' href='../css/main.css'/>
</head>
<body>
<div class="container">

    <h1 class="h1" id="bb">Better Banking</h1>

    <div id="content">
    <div id="withdrawal"><p class="tab">Withdraw Money</p></div>

    <div id="deposit"><p class="tab">Deposit Money</p></div>

    <div class="tab" id="donate"><p>Donate to Charity</p></div>

    <div class="tab" id="make"><p>Make Easy Money</p></div>

    <div class="tab" id="transfer"><p>Transfer Funds</p></div>

    <div class="tab" id="atm"><p>ATM Preferences</p></div>
    </div>




</div>
</body>
</html>